.cart-container {
    padding: 20px;
    direction: rtl;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.cart-image img {
    width: 550px;
    height: 500px;
    border-radius: 10px;
}

.cart-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart-details h1 {
    margin: 10px 0;
    font-size: 28px;
    color: #333;
}

.cart-details p {
    font-size: 20px;
    color: #555;
    margin: 10px 0;
}

.cart-buttons-top button {
    background-color: #e0e5e9;
    color: white;
    border: none;
    border-radius: 0;
    width: 30px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-buttons-top button:hover {
    background-color: #0056b3;
}

.cart-buttons-top .update-button {
    background-color: #28a745;
    border-radius: 8px;
    width: auto;
    padding: 10px 20px;
    font-size: 16px;
}

.cart-buttons-top .update-button:hover {
    background-color: #218838;
}

.total-amount {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 30px;
}

.cart-buttons-top {
    display: flex;
    /* flex-direction: column; */
    /* מסדר את האלמנטים אחד מעל השני */
    /* align-items: center; */
    /* מרכז את התוכן */
    gap: 10px;
    padding: 10px;
}



.cart-buttons-amount button {
    padding: 10px;

    background-color: #e0e5e9;
    color: white;
    border: none;
    border-radius: 0;
    width: 100px;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    /* מרכז את התוכן */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}


.cart-buttons-amount button:hover {
    background-color: #0056b3;
}

.cart-reduse button {
    padding: 10px;

    background-color: #e0e5e9;
    color: white;
    border: none;
    border-radius: 0;
    width: 100px;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    /* מרכז את התוכן */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}